.login-container{
    display: grid;
    justify-content: center;
    background-color: whitesmoke;
}

.img-logo{
    margin: auto;
}

.img-logo img{
    width: 250px;
    margin-top: 20px;
}

.login-form{
    margin:60px;;
    border: 1px solid rgb(196, 218, 233);
    padding: 20px;
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.login_info h2{
    margin: 10% 0px 10% 0px;
}

.googleIcon{
    width:23px;
    float: left;
}

.login-form button{
    width: 90%;
    height:40px;
    border-radius:20px;
    border: 1px solid  rgba(196, 218, 233, 0.918);
    outline: none !important;
    background-color: white;
    color: black;
    font-weight: 500;
}
